docs/n8n-workflows/01-send-whatsapp.json
{
  "name": "OpsControl - Enviar WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opscontrol-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (OpsControl)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -672,
        272
      ],
      "webhookId": "opscontrol-send"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.messageType }}",
        "rules": {
          "rules": [
            {
              "value2": "text"
            },
            {
              "value2": "buttons"
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "switch-type",
      "name": "Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -448,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://evolution.kaffspiel.cloud/message/sendText/' + ($json.body.instanceName || $json.body.instance || 'teste') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "Ay0HGfU1AWcZsB5qjVEzW8PpsSFWlfJv5VL3LhJNZBEjHGEmM24N19hMm63jqiZpqnwvNRuiVdQbpslOOoUXQQPA0SdMzxkGY6ZAnQkRXPy6jLOi7nPkgs18pmyItF6Q"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.body.number || $json.body.recipientPhone || '5511999999999' }}\",\n  \"text\": \"{{ $json.body.text?.message || $json.body.message || 'Mensagem do OpsControl' }}\",\n  \"delay\": 1200,\n  \"metadata\": {{ JSON.stringify($json.body.metadata || {}) }}\n}",
        "options": {}
      },
      "id": "send-text",
      "name": "Enviar WhatsApp (Texto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://evolution.kaffspiel.cloud/message/sendButtons/' + ($json.body.instanceName || $json.body.instance || 'teste') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "Ay0HGfU1AWcZsB5qjVEzW8PpsSFWlfJv5VL3LhJNZBEjHGEmM24N19hMm63jqiZpqnwvNRuiVdQbpslOOoUXQQPA0SdMzxkGY6ZAnQkRXPy6jLOi7nPkgs18pmyItF6Q"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.body.number || $json.body.recipientPhone || '5511999999999' }}\",\n  \"title\": \"{{ $json.body.buttons?.title || $json.body.title || 'Título' }}\",\n  \"description\": \"{{ $json.body.buttons?.description || $json.body.message || '' }}\",\n  \"footer\": \"{{ $json.body.buttons?.footer || 'OpsControl' }}\",\n  \"buttons\": {{ JSON.stringify($json.body.buttons?.buttons || []) }},\n  \"metadata\": {{ JSON.stringify($json.body.metadata || {}) }}\n}",
        "options": {}
      },
      "id": "send-buttons",
      "name": "Enviar WhatsApp (Botões)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.OPSCONTROL_URL || 'https://nnmrlucwrzoqkwzytbbl.supabase.co' }}/rest/v1/notifications?id=eq.{{ $node[\"Webhook (OpsControl)\"].json.body.metadata?.notificationId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.OPSCONTROL_KEY || 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...' }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.OPSCONTROL_KEY || 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"sent\",\n  \"sent_at\": \"{{ new Date().toISOString() }}\",\n  \"whatsapp_message_id\": \"{{ $json.key?.id || $json.id || '' }}\",\n  \"whatsapp_status\": \"sent\"\n}",
        "options": {}
      },
      "id": "update-supabase",
      "name": "Atualizar Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"messageId\": $json.key?.id || 'sent', \"timestamp\": new Date().toISOString() } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": 'Tipo de mensagem não suportado: ' + $json.body.messageType } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -208,
        560
      ]
    }
  ],
  "connections": {
    "Webhook (OpsControl)": {
      "main": [
        [
          {
            "node": "Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (Texto)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar WhatsApp (Botões)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp (Texto)": {
      "main": [
        [
          {
            "node": "Atualizar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp (Botões)": {
      "main": [
        [
          {
            "node": "Atualizar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Supabase": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "opscontrol",
    "whatsapp",
    "evolution"
  ]
}