docs/n8n-workflows/01-send-whatsapp.json
{
  "name": "OpsControl - Enviar WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opscontrol-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (OpsControl)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-672, 272],
      "webhookId": "opscontrol-send"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.messageType }}",
        "rules": {
          "rules": [
            {
              "value2": "text"
            },
            {
              "value2": "buttons"
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "switch-type",
      "name": "Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [-448, 272]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.kaffspiel.cloud/message/sendText/{{ $json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "Ay0HGfU1AWcZsB5qjVEzW8PpsSFWlfJv5VL3LhJNZBEjHGEmM24N19hMm63jqiZpqnwvNRuiVdQbpslOOoUXQQPA0SdMzxkGY6ZAnQkRXPy6jLOi7nPkgs18pmyItF6Q"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.body.number }}\",\n  \"text\": \"{{ $json.body.text.message }}\",\n  \"delay\": 1200\n}",
        "options": {}
      },
      "id": "send-text",
      "name": "Enviar WhatsApp (Texto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-208, 144]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.kaffspiel.cloud/message/sendButtons/{{ $json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "Ay0HGfU1AWcZsB5qjVEzW8PpsSFWlfJv5VL3LhJNZBEjHGEmM24N19hMm63jqiZpqnwvNRuiVdQbpslOOoUXQQPA0SdMzxkGY6ZAnQkRXPy6jLOi7nPkgs18pmyItF6Q"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.body.number }}\",\n  \"title\": \"{{ $json.body.buttons.title }}\",\n  \"description\": \"{{ $json.body.buttons.description }}\",\n  \"footer\": \"{{ $json.body.buttons.footer }}\",\n  \"buttons\": {{ JSON.stringify($json.body.buttons.buttons) }}\n}",
        "options": {}
      },
      "id": "send-buttons",
      "name": "Enviar WhatsApp (Botões)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-208, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"messageId\": \"{{ $json.key?.id || 'sent' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [50, 272]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Tipo de mensagem não suportado: {{ $json.body.messageType }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-208, 560]
    }
  ],
  "connections": {
    "Webhook (OpsControl)": {
      "main": [
        [
          {
            "node": "Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (Texto)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar WhatsApp (Botões)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp (Texto)": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp (Botões)": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["opscontrol", "whatsapp", "evolution"]
}
