docs/n8n-workflows/02-status-webhook.json
{
  "name": "OpsControl - Status de Entrega",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opscontrol-status",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-status",
      "name": "Webhook Evolution Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-update",
              "leftValue": "={{ $json.event }}",
              "rightValue": "messages.update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-event",
      "name": "Filtrar Evento",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Mapeia status da Evolution para formato interno\nconst statusMap = {\n  'PENDING': 'pending',\n  'SERVER_ACK': 'sent',\n  'DELIVERY_ACK': 'delivered',\n  'READ': 'read'\n};\n\nconst data = $json.data || {};\nconst key = data.key || {};\n\nreturn {\n  messageId: key.id,\n  phone: key.remoteJid?.replace('@s.whatsapp.net', ''),\n  status: statusMap[data.status] || 'unknown',\n  timestamp: new Date().toISOString(),\n  fromMe: key.fromMe,\n  instance: $json.instance\n};"
      },
      "id": "process-status",
      "name": "Processar Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPSCONTROL_URL }}/functions/v1/webhook-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPSCONTROL_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "update-opscontrol",
      "name": "Atualizar OpsControl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Evolution Status": {
      "main": [
        [
          {
            "node": "Filtrar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Evento": {
      "main": [
        [
          {
            "node": "Processar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Status": {
      "main": [
        [
          {
            "node": "Atualizar OpsControl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["opscontrol", "whatsapp", "evolution", "status"]
}
