docs/n8n-workflows/06-standalone-intelligence.json
{
    "name": "OpsControl - Workflow Inteligente Total (n8n)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "opscontrol-intelligence",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-evolution",
            "name": "Webhook Evolution",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// 1. Extrair metadados básicos\nconst data = $json.data || {};\nconst key = data.key || {};\nconst message = data.message || {};\n\nreturn {\n  messageId: key.id,\n  phone: key.remoteJid?.replace(/\\D/g, ''),\n  event: $json.event,\n  instance: $json.instance,\n  isAudio: !!message.audioMessage,\n  text: message.conversation || message.extendedTextMessage?.text || '',\n  rawMessage: message\n};"
            },
            "id": "extract-meta",
            "name": "Extrair Dados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/employees",
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "whatsapp_number",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "select",
                            "value": "id,company_id,role,name"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "fetch-gestor",
            "name": "Buscar Gestor no Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {},
                    "conditions": [
                        {
                            "leftValue": "={{ $json[0]?.role }}",
                            "rightValue": "gestor",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "leftValue": "={{ $json[0]?.role }}",
                            "rightValue": "admin",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "id": "is-manager",
            "name": "É Gestor?",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/employees",
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "company_id",
                            "value": "={{ $node[\"Buscar Gestor no Supabase\"].json[0].company_id }}"
                        },
                        {
                            "name": "is_active",
                            "value": "true"
                        },
                        {
                            "name": "select",
                            "value": "id,name"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "fetch-team",
            "name": "Buscar Equipe",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Extraia a tarefa da mensagem. Funcionários: {{ $json.map(e => e.name + ' (ID:' + e.id + ')').join(', ') }}. Responda apenas JSON: {\\\"is_task\\\":boolean, \\\"title\\\":\\\"\\\", \\\"assignee_id\\\":\\\"\\\", \\\"priority\\\":\\\"média\\\", \\\"due_date\\\":\\\"YYYY-MM-DD\\\"}\" },\n    { \"role\": \"user\", \"content\": \"{{ $node[\\\"Extrair Dados\\\"].json.text }}\" }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
                "options": {}
            },
            "id": "ai-extract",
            "name": "OpenAI Extrair Tarefa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1150,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/tasks",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"company_id\": \"{{ $node[\\\"Buscar Gestor no Supabase\\\"].json[0].company_id }}\",\n  \"created_by\": \"{{ $node[\\\"Buscar Gestor no Supabase\\\"].json[0].id }}\",\n  \"title\": \"{{ JSON.parse($json.body.choices[0].message.content).title }}\",\n  \"assignee_id\": \"{{ JSON.parse($json.body.choices[0].message.content).assignee_id }}\",\n  \"priority\": \"{{ JSON.parse($json.body.choices[0].message.content).priority }}\",\n  \"due_date\": \"{{ JSON.parse($json.body.choices[0].message.content).due_date }}T23:59:59Z\",\n  \"status\": \"pendente\"\n}",
                "options": {}
            },
            "id": "insert-task",
            "name": "Inserir Tarefa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Evolution": {
            "main": [
                [
                    {
                        "node": "Extrair Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Dados": {
            "main": [
                [
                    {
                        "node": "Buscar Gestor no Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Gestor no Supabase": {
            "main": [
                [
                    {
                        "node": "É Gestor?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Gestor?": {
            "main": [
                [
                    {
                        "node": "Buscar Equipe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Equipe": {
            "main": [
                [
                    {
                        "node": "OpenAI Extrair Tarefa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Extrair Tarefa": {
            "main": [
                [
                    {
                        "node": "Inserir Tarefa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}